@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import './scss/_vars';

// Navbar
.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: $blue;
  color: #fff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 3px 5px 39px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 5px 39px -7px rgba(0,0,0,0.75);
  box-shadow: 3px 5px 39px -7px rgba(0,0,0,0.75);
  .navbar__logo { 
    margin: 0 0 0 35px;
    padding: 0;
    font-size: 28px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
  }
  .navbar__menu-icon {
    position: absolute;
    right: 35px;
    font-size: 28px;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      color: darken(#fff, 10%);
    }
  }
}

// Dashboard
.dashboard {
  width: 100%;
  height: 100vh;
  // Map
  #map {
    z-index: 1;
    width: 100%;
    height: 100vh;
    .leaflet-control-zoom {
      position: fixed;
      top: 60px;
      left: 10px;
    }
  }
}

// Spinner
.spinner {
  z-index: 999;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .spinner__text {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .spinner__outer-span {
    width: 200px;
    height: 7px;
    background-color: darken($blue, 10%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .spinner__inner-span {
    width: 0;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;
    animation: animatedSpinner 1.2s;
    animation-fill-mode: forwards;
  }
}

.spinner--fade-out {
  animation: fadeOutSpinner 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes animatedSpinner {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOutSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
