@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@import './scss/_vars';

// Dashboard
.dashboard {
  width: 100%;
  height: 100vh;
  background-color: $blue;
  .dashboard__spinner {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    p {
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      color: #fff;
      font-size: 42px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .dashboard__spinner_outer-span {
      width: 200px;
      height: 7px;
      background-color: darken($blue, 10%);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    .dashboard__spinner_inner-span {
      width: 0;
      height: 7px;
      background-color: #fff;
      border-radius: 10px;
      animation: animatedSpinner 1.2s;
      animation-fill-mode: forwards;
    }
  }
}

.dashboard__spinner--fade-out {
  animation: fadeOutSpinner 0.7s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes animatedSpinner {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOutSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
